.check-input {
  width: 19px;
  height: 18px;
  margin-top: 4px;
  margin-left: -4px;
  position: absolute;
}

.travel-label {
  margin-left: 22px;
}

.travel-form {
  margin-top: 12px;
  margin-left: 16px;
}

.datepicker_input {
  padding: 8px;
  padding-right: 75px;
  margin-left: 15px;
  font-size: 13px;
  border-radius: 0.4rem;
  border-style: none;
  outline: none;
}

.date_input {
  padding: 7px;
  margin-left: 15px;
  font-size: 13px;
  border-radius: 0.4rem;
  border-style: none;
  outline: none;
  padding-left: 35px;
  padding-right: 48px;
}

.datepicker_form {
  margin-top: -46px;
  margin-left: 14rem;
  margin-right: 94rem;
  margin-bottom: 12px;
  background-color: #fdd023;
  border-style: solid;
  border-color: #fdd023;
  border-radius: 0.4rem;
}

.datepicker_form label {
  font-size: 13px;
  color: black;
  line-height: 25px;
  margin-left: 16px;
}

.datepicker_form h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
  margin-top: 16px;
  margin-right: 162px;
}

.button {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 13px;
  color: white;
  background-color: darkblue;
  padding: 2px;
  width: 87%;
  border: none;
  border-radius: 0.4rem;
  font-size: 22px;
}

.search-icon {
  position: absolute;
  margin-left: 22px;
  transform: scale(1.5);
}

.search_icon {
  position: relative;
  display: flex;
  align-items: center;
}

/* .calender-icon {
  position: absolute;
  margin-left: 22px;
}

.calender_icon {
  position: relative;
  display: flex;
  align-items: center;
} */

.stay-icon {
  position: absolute;
  margin-left: 22px;
  transform: scale(1.5);
}

.stay_icon {
  position: relative;
  display: flex;
  align-items: center;
}
