.signUp_form {
  margin-top: 36px;
  margin-left: 43rem;
  margin-right: 43rem;
  background-color: #9cc3d5ff;
  border-style: solid;
  border-color: #9cc3d5ff;
  border-radius: 0.4rem;
}

.signUp_form div {
  margin: 0 auto;
}

.signUp_form h1 {
  text-align: center;
  color: darkblue;
  font-weight: bold;
  font-size: 43px;
  margin-bottom: 2rem;
  margin-top: 37px;
}

.signUp_form label {
  font-size: 19px;
  font-weight: bold;
  color: darkblue;
  margin-top: 15px;
}

.signUp_form button {
  margin-left: 17rem;
  margin-top: 5rem;
  margin-bottom: 38px;
  color: white;
  background-color: darkblue;
  padding: 7px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  border-radius: 0.4rem;
  font-size: 22px;
}

.signUp_form button:hover {
  background-color: #0071c2;
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

.form-input {
  font-size: 1.6rem;
  border-color: #9cc3d5ff;
  border-radius: 0.4rem;
  padding-left: 40px;
}

.email_icons {
  position: relative;
  display: flex;
  align-items: center;
}

.email-icons {
  position: absolute;
  margin-left: 12px;
  transform: scale(1.5);
}

.lock_icons {
  position: relative;
  display: flex;
  align-items: center;
}

.lock-icons {
  position: absolute;
  margin-left: 12px;
  transform: scale(1.5);
}

.phone_icon {
  position: relative;
  display: flex;
  align-items: center;
}

.phone-icon {
  position: absolute;
  margin-left: 12px;
  transform: scale(1.5);
}

.person_icon {
  position: relative;
  display: flex;
  align-items: center;
}

.person-icon {
  position: absolute;
  margin-left: 12px;
  transform: scale(1.5);
}

.top-icons {
  transform: scale(5);
  margin-left: 219px;
  margin-top: 51px;
  border-width: thin;
  border-radius: 13px;
  color: white;
  border-color: #0071c2;
  background-color: #0071c2;
  padding: 2px;
}

.label-height {
  line-height: 24px;
}
