* {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.property_highlight {
  background: #ebf3ff;
  border: 1px solid #ebf3ff;
  border-radius: 3px;
  margin-top: 49px;
  max-width: 94%;
}

.property_highlight div {
  max-width: 86%;
  height: 50px;
  margin-left: 12px;
}

.property_highlight p {
  font-size: 13px;
  margin-left: 43px;
  display: inline-block;
}

.property_highlight h2 {
  margin-left: 17px;
  position: relative;
  top: 13px;
}

.property_highlight button {
  padding: 7px;
  width: 82%;
  background-color: #0071c2;
  border-color: #0071c2;
  border-style: none;
  color: white;
  font-size: 14px;
  position: relative;
  left: 32px;
  margin-top: 19px;
  bottom: 14px;
}

.property_highlight button:hover {
  background-color: #23395d;
  color: white;
}

.location_icon {
  position: absolute;
  margin-left: 19px;
  transform: scale(1.6);
  margin-top: 5px;
}

.parking_icon {
  position: absolute;
  margin-left: 19px;
  transform: scale(1.2);
  margin-top: 4px;
  color: white;
  background-color: black;
  padding: 1px;
}
