* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Jost', sans-serif; */
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.bg_pic {
  padding: 0px;
}

.text_block {
  position: relative;
  bottom: 426px;
}

.text_block h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.check_in_out {
  display: inline-block;
  position: relative;
  bottom: 139px;
  left: 110px;
  background-color: white;
}

.searching_list {
  display: flex;
  background-color: white;
}

.searching_input {
  border: 1px solid #febb02;
  border-width: 5px;
}

.select_requirement {
  display: flex;
  width: 336px;
  border: 1px solid #febb02;
  border-width: 5px;
  border-left: none;
}

.select_requirement div {
  margin-top: 18px;
}

.destination_name {
  width: 331px;
  height: 58px;
  outline: none;
  font-size: 14px;
  border-style: none;
  padding-left: 37px;
}

.checking {
  width: 105px;
  height: 58px;
  font-size: 14px;
  outline: none;
  border-style: none;
  margin-left: 14px;
}

.select_requirement select {
  margin-left: 4px;
  font-size: 14px;
  outline: none;
}

.select_room {
  margin-left: 33px;
  font-size: 14px;
}

.select_child {
  margin-left: 8px;
  font-size: 14px;
}

.btns {
  width: 170px;
  border-style: none;
  font-size: 20px;
  background-color: darkblue;
  border: 1px solid #febb02;
  border-left: none;
  color: white;
  border-width: 5px;
}

.checking_picker {
  border: 1px solid #febb02;
  border-width: 5px;
  border-left: none;
  display: flex;
}

.going_icon {
  position: absolute;
  transform: scale(1.9);
  margin-top: 21px;
  margin-left: 10px;
  color: #aeaeae;
}

.selection_icon {
  position: absolute;
  transform: scale(1.9);
  color: #aeaeae;
  margin-top: 20px;
  margin-left: 9px;
}

.calen_icon {
  position: relative;
  transform: scale(1.7);
  margin-left: 9px;
  top: 20px;
  color: #aeaeae;
}
