/* .cities2 {
  margin-top: 13px;
} */

.cities2 img {
  width: 558px;
  height: 330px;
  border-radius: 0.5rem;
}

.cities2_heading {
  position: relative;
  bottom: 75px;
  left: 13px;
  display: table-row;
  width: 346px;
}

.cities2_heading h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.cities2_heading p {
  font-size: 15px;
  line-height: 28px;
  color: white;
}

.citieslist2 {
  margin-top: -97px;
  display: flex;
  gap: 1rem;
}
