.destination2 {
  margin-top: 25px;
}

.destination2 img {
  width: 558px;
  height: 315px;
  border-radius: 0.5rem;
}

.destination2_heading {
  font-weight: bold;
  position: relative;
  bottom: 75px;
  left: 13px;
}

.destination2_heading h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.destination2_heading p {
  font-size: 15px;
  line-height: 1.4rem;
  color: white;
}

.destinationlist2 {
  display: flex;
  gap: 1rem;
}
