.destination3 {
  /* margin-top: 13px; */
}

.destination3 img {
  width: 362px;
  height: 235px;
  border-radius: 0.5rem;
}

.destination3_heading {
  position: relative;
  bottom: 66px;
  left: 13px;
}

.destination3_heading h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.destination3_heading p {
  font-size: 15px;
  line-height: 1.4rem;
  color: white;
}

.destinationlist3 {
  display: flex;
  gap: 2rem;
  margin-top: -31px;
}
