.property {
  margin-top: 15px;
}

.property img {
  width: 178px;
  height: 185px;
  border-radius: 0.4rem;
}

.property_heading {
  margin-top: 12px;
}

.property_heading h1 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.property_heading p {
  font-size: 15px;
  line-height: 1.4rem;
  color: grey;
}

.property_heading a:hover {
  color: black;
}

.property_h1 {
  font-weight: bold;
}

.propertylist {
  display: flex;
  gap: 1rem;
}
