.property {
  margin-top: 30px;
}

.property img {
  /* width: 100%;
  height: 78%; */
  width: 178px;
  height: 185px;
  border-radius: 0.4rem;
}

.property_heading {
  margin-top: 12px;
}

.property_heading h1 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.property_heading p {
  font-size: 15px;
  line-height: 1.4rem;
  color: grey;
}

.property_heading a:hover {
  color: black;
}

.property_h1 {
  margin-top: 157px;
  margin-left: 90px;
  font-weight: bold;
}

.propertylist {
  width: 90vw;
  max-width: 1170px;
  margin: -1rem auto;
  display: flex;
  gap: 2rem;
}
