.travelers {
  margin-top: 20px;
}

.travelers img {
  width: 274px;
  height: 269px;
  border-radius: 0.4rem;
}

.travelers_heading {
  margin-top: 12px;
}

.travelers_heading h1 {
  font-size: 16px;
  color: black;
}

.travelers_heading p {
  font-size: 15px;
  line-height: 1.4rem;
  color: grey;
}

.travelers_heading a:hover {
  color: black;
}

.travelers_h1 {
  margin-top: 54px;
  font-weight: bold;
}

.travelerslist {
  display: flex;
  gap: 1rem;
}
